
.logo-menu-wrapper{
	@include max-mq($sm) {
		padding: 0 15px;
	}
	.site-branding{
		margin-right: auto;
	}
	
	&:after{
		content: '';
		background-color: rgba(0, 0, 0, 0.4);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
    	transition: .4s ease;
		z-index: -1;
		visibility: hidden;
	}

	.menu-opened &{
		&:after{
      		opacity: 1;
			z-index: 0;
			visibility: visible;
		}
	}
	  
	.main-navigation {
		min-width: 270px;
		top: 0;
		margin-left: auto;
		@include max-mq($responsive-toggle-breakpoint) {
			background-color: $white;
			position: fixed;
			transition: .4s;
			z-index: 999;
			left: -100%;
			overflow: auto;
			height: 100vh;
			align-items: flex-start !important;
			.menu-opened & {
				left: 0%;
			}
		}

		.admin-bar & {
			top: 32px;
		}

		.arrow-toggle {
			position: absolute;
			right: -2px;
			top: 0;
			cursor: pointer;
			padding: 5px;
			height: 100%;
			display: flex;
			align-items: center;

			@include max-mq($responsive-toggle-breakpoint) {
				right: 10px;
			}
		}
		
		.main-menu-container {
			@include max-mq($responsive-toggle-breakpoint) {
				width: 100%;
				margin-bottom: 40px;
			}
			ul {
				margin: 0;
				padding: 0;
	
				li {
					display: block;
					margin: 0;
					position: relative;
					color: $secondary-color;
					transition: color 0.4s ease;
					padding: 10px 20px;
					font-size: $font-size-large;
					@include min-mq($lg) {
						display: inline-block;
					}
					@include max-mq($mac) {
						padding: 10px 15px;
					}
					@include max-mq($responsive-toggle-breakpoint) {
						border-bottom: 1px solid $gray;
						&:after{
							content: none;
						}
					}
					&:hover{
						color: $primary-color;
					}
					&.current-menu-item, 
					&.current_page_parent{
						color: $primary-color;
					}
					&.active-menu-item {
						a {
							&:after {
								width: 100%;
							}
						}
					}
					a {
						display: block;
						position: relative;
						color: inherit;
						width: 100%;
						padding-bottom: 3px;
						transition: all 0.5s;
						@include max-mq($responsive-toggle-breakpoint) {
							display: inline-block;
							width: auto;
						}
						&:after {
							background-color: $secondary-color;
							bottom: -2px;
							content: '';
							left: 0;
							position: absolute;
							right: 0;
							top: auto;
							transition: all .5s;
							width: 0;
							height: 3px;
						}
						&:hover {
							&:after {
								width: 100%;
							}
						}
					}

					&.sub-menu-open {
						> a {
							@include max-mq($responsive-toggle-breakpoint) {
								background-color: $primary-color;
								color: $white;
							}
						}
					}
				}
			}
	
			.sub-menu {
				@include max-mq($lg - 1) {
					display: none;
					margin: 0;
					padding: 0 0 0 25px;
				}
				@include min-mq($lg) {
					background-color: #fff;
					box-shadow: 0 5px 20px rgba(#000, .1);
					left: -50px;
					margin: auto;
					opacity: 0;
					padding: 0;
					position: absolute;
					right: -50px;
					text-align: center;
					top: 99%;
					visibility: hidden;
					width: 200px;
					z-index: 10;
				}
	
				li {
					display: block;
	
					a {
						padding: 10px 20px;
	
						@include max-mq($lg - 1) {
							padding: 10px 0;
						}
					}
	
					&:not(:last-child) {
	
						@include min-mq($lg) {
							border-bottom: 1px solid rgba(#000, .1);
						}
					}
				}
	
				.sub-menu {
	
					@include min-mq($lg) {
						left: 100%;
						right: auto;
						top: 0;
						z-index: 11;
					}
	
					@include min-mq($lt) {
						left: 100%;
						right: auto;
					}
				}

			}
	
			.menu-item-has-children {
	
				&:hover {
	
					>.sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}